
<link href="~/css/Roles/Roles.css" rel="stylesheet" />
<h1>Roles</h1>
<button class="btn btn-primary m-3" onclick="GuardarRol()"> Agregar Rol</button>


<table id="roles" class="table table-striped" style="width:100%">
</table>

<div id="rolesAddPartial">

</div>

<script src="~/js/Roles/Roles.js"></script>