
<link href="~/css/Servicios/Servicios.css" rel="stylesheet" />
<h1>Servicios</h1>

<button class="btn btn-primary m-3" onclick="GuardarServicio()"> Agregar Servicio</button>
<button class="btn btn-primary m-3" style="float:right" onclick="SincronizarServicio()"> Sincronizar Servicios</button>

<table id="servicios" class="table table-striped" style="width:100%">
</table>

<div id="serviciosAddPartial">

</div>

<script src="~/js/Servicios/Servicios.js"></script>